* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.person {
  background: #eeeeee;
  width: 17rem;
  padding: 1rem;
  margin: 2rem auto;
  text-align: center;
  border-radius: .3rem;
  transition: all .3s linear;
}

.person:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .3);
}